:root{
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-grayish-red: hsl(0, 6%, 24%);
  --linear-peach: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --linear-red: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  --font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: 'Josefin Sans', sans-serif;
  font-size: var(--font-size);
  color: var(--desaturated-red);
  background: var(--linear-peach);
  position: relative;
}

img {
  display: block;
}

.page {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
    'header'
    'image'
    'content'
  ;
  gap: 2rem;
}

.header {
  margin: 2rem 2rem 0;
  grid-area: header;
}

.logo {
  height: 1.375em;
}

.hero-image {
  grid-area: image;
}

.hero-image img {
  object-fit: cover;
  min-width: 100%;
  max-height: 50vh;
}

.landing-content {
  grid-area: content;
  display: grid;
  gap: 2rem;
  text-align: center;
  margin: 2rem 2rem 0;
  padding-bottom: 2rem;
}

.landing-title {
  font-size: 2.5em;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.6rem;
  line-height: 2.75rem;
}

.landing-title span {
  font-weight: 400;
  color: black;
}

.landing-text {
  max-width: 35ch;
  justify-self: center;
  line-height: 1.25rem;
  font-size: 0.9em;
}

.landing-form {
  position: relative;
}

input {
  width: 100%;
  padding: 1rem 1.4rem;
  border-radius: 100px;
  border: 1px solid var(--desaturated-red);
  background-color: transparent;
  font: inherit;
  position: relative;
}

input::placeholder {
  color: var(--desaturated-red);
}

.error-icon {
  display: none;
  position: absolute;
  top: 50%;
  right: 25%;
  transform: translateY(-50%);
}

.error-message {
  display: none;
  margin-top: 0.5rem;
  margin-left: 1.5rem;
  font-size: 0.9em;
  color: var(--soft-red);
  text-align: left;
  position: absolute;
}

button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border-radius: 100px;
  padding: 1.1rem 1.6rem;
  border: none;
  background: var(--linear-red);
  box-shadow: 0px 8px 20px var(--desaturated-red);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover, button:focus-visible {
  opacity: 0.6;
}

button:active {
  opacity: 0.8;
}

.show-error {
  display: block;
}

.show-error#email {
  border: 2px solid var(--soft-red);
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}


@media (min-width: 1024px) {
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
  }

  .page {
    grid-template-areas: 
      '. header . image'
      '. content . image'
    ;
    grid-template-columns: minmax(5rem, 1fr) minmax(0, 40rem) minmax(3rem, 1fr) minmax(0, 40%);
    grid-template-rows: 20% 80%;
    gap: 0;
    background-image: url('./images/bg-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
  }

  .header {
    margin: 0;
    align-self: center;
  }

  .logo {
    height: 2em;
  }

  .hero-image img {
    min-height: 100%;    
  }

  .landing-content {
    margin: 0;
    padding: 0;
    gap: 2rem;
    text-align: left;
    justify-content: flex-start;
    align-content: flex-start;
  }

  .landing-title {
    font-size: 4em;
    letter-spacing: 1.1rem;
    line-height: 4.25rem;
    margin-top: 4rem;
  }

  .landing-text {
    max-width: 40ch;
    line-height: 1.75rem;
    font-size: 1em;
  }
  
  input {
    padding: 1.25rem 2rem;
    font-size: 1em;
  }  
  
  button {
    width: 6rem;
  }
}